body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
}
h1,h2,h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
}
p{
  color: #1B1C1E;
}

hr{
  border-top: 2px dashed #16213E;
  
}
.h2-race{
  color: #FFFAF0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
}

.birthday{
  text-align: center;
  margin: auto;
  font-weight: 400;
}

.p-race{
  color: #FFFAF0;
}

/*Headers*/
.big-heading{
  text-align: center;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
.small-heading{
  text-align: center;
  color: #FFFAF0;
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 1.5;
}
.section-heading{
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}





/*Section*/
.popular-section{
  background-color: #FFFAF0;
  text-align: center;
  padding: 100px;
  padding-left: 450px;
  padding-right: 450px;
  margin: auto;
  width: 100%;

}
.colored-section{
  background-color: #16213E;
  color: #FFFAF0;
}
.race-section{
  background-color: #16213E;
  text-align: center;
  padding: 100px;
  padding-left: 450px;
  padding-right: 450px;
  margin: auto;
  width: 100%;
}
.points-section{
  background-color: #16213E;
  text-align: center;
  padding: 100px;
  padding-left: 450px;
  padding-right: 450px;
  margin: auto;
  width: 100%;
}
.white-section{
  background-color: #FFFAF0;
  text-align: center;
}

/*Navigation Bar*/
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  color: #FFFAF0;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/*Title Section*/
title{
  text-align: left;
}
title .container-fluid{
  padding: 15% 15% 7%;
}
.title-img{
  width: 90%;
  position: relative;
  right: 5%;
}

/*Download Buttons*/
.download-button{
  margin: 5% 3% 5% 0;
}
.fab{
  margin-right: 8px;
}

/*Features*/
#features{
  padding: 5% 29% 1% 29%;
  text-align: center;
  position: relative;
  background-color: #FFFAF0;
}
.feature-title{
  font-size: 1.5rem;
  font-weight: 900;
}
.features-col{
  padding: 5%;
  text-align: center;
}

.features-icon{
  color: #ff7500;
  margin: 1rem;
}

.features-icon:hover{
  color: #ff2000;
}



/*Footer*/
.foot-icon{
  padding: 20px 10px;
}

.dariel-img{
  width: 70%;
  position: absolute;
  right: 30%;
}
.Driverimg{
  width: 22em;
}

.Drivertb{
  width: 50rem;
  border: 4px solid;
  text-align: left;
}

.Pinfo{ 
  width: 3.5rem;
  margin: 3.125rem;
  border: 1px solid;
  display: block;
}

.Perma-num{
  color: #16213E;
  margin-left: 1.5rem;
  font-size: 5rem;
  font-weight: 500;
}

.darken{
  background-color: #16213E;
}

.layt{
  padding-top: 1rem;
  padding-left:1.8rem;
  color: #FFFAF0;
}

.Drivername{
  padding-left: 1.5rem;
  font-family: 'Lexend Mega', sans-serif;
  font-weight: 600;
}

.LearnM{
  padding-left: 7rem;
  font-size: 1rem;
  color: gray;
}
.team{
  padding-left: 5rem;
  color: #27445C;
  font-weight: 500;
}

@media (max-width: 1020px){
  title{
    text-align: center;
  }

  .title-img{
    width: 60%;
    transform: rotate(0);
    position: static;
  }
}
